html{
    background-color: black;
}

form>button{
    min-width: 100px!important;
    padding: 6px!important;
    margin-top: 10px;
}

table tbody td a {
    min-width: 0px!important;
    padding: 10px!important;
}

body{
    font-family: 'Anton', sans-serif;

  /*   background-color: blueviolet; */
}

.offset:before{
    display: block;
    content: "";
    height: 5rem;
    margin-top: -4rem;
}

.fb-comments{
    width: 100%;
    overflow: auto;
}

.fb-comments._2pi8{
    width: 90% !important;
}

#areaComment span{
    width: 90%;
}

.fb_iframe_widget_lift{
    width: 90%;
}

.imgBlack{
    width: 50%;
}
ul .nav-link{
    font-size: 1.3em;
}

#media{
    background-color: black;
    z-index: 2;
}

#tecnologias{
    background-color: black;
}

    
.purpura .navbar-brand{
    width: 40%;
}

.margensup-sm{
    margin-top: 30px;
}

h1{
    font-size: 4em;
    font-weight: 600px;
    line-height: 80px;
}

h2{
    font-size: 2.5em;
    color: #05d9ff;
}

h5{
    margin-bottom: 0;
}

h5 .card-title{
    margin-bottom: 2px;
    text-align: center;
}

#tituloVideos{
    color: #b4b4b4;
    text-align: center;
}

p{
    font-size: 20px;
    color: #cfc5c5;
    line-height: 1.8;
    margin-bottom: 0;
}

.caract{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3%;
    margin-top: 3%;
}

.caract h1, h3{
    color: #fafafa;
}

.caract i{
    color: #da0cf5;
}

.tituloTecno{
    color: #fafafa;
    padding-top: 3%;
}

.bg-darkTech{
    background-image: url(../img/mag8.jpg);
    background-attachment: fixed;
    z-index: -2;
    background-size: cover;

}

.filaTech{
    margin: 0 auto;
}

.bg-dark{
    background-color: #1a1a1a!important;
}

.mensaje-exito h3{
    text-align: center;
}

.btn{
    font-size: 14px;
    padding: 15px 26px;
    min-width: 200px;
    border-radius: 5px;
    display: inline-block;
}

.botonContacto span{

    width: 100%;
    margin: 0 auto;
}

.btnContacto{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.btn-blanco-head{
    background-color: #ffffff;
    color: #1a1a1a;
    border: 2px solid #ffffff;
}

.btn-blanco{
    background-color: #ffffff;
    color: #1a1a1a;
    border: 2px solid #ffffff;
    width: 100%;

}
.btn-blanco:hover{
    
    color: #05d9ff;
}

.btn-blanco i{
    font-size: 1em;
    color: #000000;
}

.btn-negro{
    background-color: #202020;
    color: #fafafa;
    display: inline-block;
    width: 100%;
}

.btn-negro:hover{
    
    color: #05d9ff;
}

.btn i{
    font-size: 18px;
    margin-left: 5px;
}

.navbar{
    background-color: rgba(27, 27, 27, 0.575);
    text-transform: uppercase;

}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link:hover, 
.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover{
    color: rgb(7, 251, 39);
}

.footerBg{
    background-color: rgb(29, 29, 29);
}

.top-nav-collapse{
    background: rgba(8, 8, 8, 0.801)!important;
    height: 5rem;
}

.top-nav-collapse::after{
    background: rgba(32, 1, 26, 0.76)!important;

}



.top-nav-collapse .navbar-brand img{
    width: 3%;
}


.fondo{
    height: 100vh;
    background-image: url("/img/bienaventurdos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.textolanding{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 5%;
    z-index: 1;
    color: white;
    margin: 0 auto;
}

#portafolio2 .carousel-inner .carousel-item img{
    height: 100vh;
}

.bkg-claro-gris{
    background-color: #c4bcbc;
}

.miembrostexto{
    color: #ffffff;
}

.planes{
    margin-top: 10px;
    padding: 50px 80px;
    border-radius: 2px;
    width: 100%!important;
}
.planes ul{
    list-style-type: square;
}

.planesClaros{
    background-color: #ffffff;
    border: 2px solid #1a1a1a;
}

.planesOscuros{
    background-color:#1a1a1a;
    border: 2px solid #000000;
    color: #ffffff;

}

#precios{
    background: #797373;
    padding-bottom: 30px;
}

.navbar .logoMzDev{
    width: 30%;
    height: 100px;
}


.logoMzDev img{
    max-width: 250px;
    min-width: 160px;
    height: 80px;
}

.contenido-centrado{
/*     max-width: 800px; */
    margin: 0 auto;
    text-align: center;
    padding-top: 15%;
    height: 100vh;
/*     border: 1px solid white; */
    
}


.wrapContacto{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

.contenido-centradoFooter{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
    padding-top: 5%;
    height: 55vh;
    color: #ffffff;

}


.contactoTexto::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px 0px 0px 20px;
    top: 0;
    left: 0;
    background:  rgba(145, 55, 247, 0.897);
    z-index: 1;
 
   
}

.contactoTexto{
    margin: 0;
    position: relative;
    background-image: url('../img/contacto.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 20px 0px 0px 20px;
}

#contactoRespuesta{
    height: 100vh;
}

.itemTexto{
    color: #fff;
    position: relative;
    z-index: 1;
    align-items: center;
}

.itemTexto, p, i{
    color: #fff;
}

.containerRespuesta{
    width: 70%;
    margin: 0 auto;
}

.itemTexto .logoUsuario{
    font-size: 100px;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
}

.itemTexto .contactomail{
    margin-top: 3%;
}
.itemTexto .contactomobile{
    font-size: 22px;
}

.contenido-centradoFooter a {
    color: #ffffff;
    text-decoration: none;

}
.contenido-centradoFooter a:hover {
    color: #ffffff;
}
.contenido-centradoFooter ul {
    margin-top: 3%;
}

.contenido-centradoFooter .list-inline .list-inline-item{
    padding: 1% 1.3%;
}
.contenido-centradoFooter .list-inline .list-inline-item .ion{
    color: white;
}

.contenido-centrado-portafolio{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
    padding-top: 3%;
}

.contenedor-portafolio{
    display: block;
    padding-right: 10px;
    padding-left: 10px;
}

.contenedor-portafolio iframe{
    width: 100%;
    height: 350px;
}

#contVideos{
    width: 95%;
    margin: 0 auto;
}

#wrapVideo{
    margin: 0 auto;
}

.contactoTexto{
    text-align: center;
}

.card-porta{
    margin-top: 30px;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.card-porta:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#portafolio .card-porta .card-text{
    font-size: 1rem;
    line-height: 1.4rem;
    color: #797373;
}

.foto{
    margin-top: 10px;
    margin-bottom: 20px;
}

.foto.miembro-contenedor{
    position: relative;
    margin: 10px 0;
    line-height: normal;
}

.miembro- img{
    border-radius: 30px;
}

.miembro-detalles{
    position: absolute;
    color: #ffffff;
    bottom: 0;
    left: 25px;
    line-height: normal;
}

.miembro-detalles span{
    font-size: 1.1em;
}

.miembro-detalles i{
    padding: 0 5px;
}

.list-inline{
    margin-bottom: 5px;
}

a i{
    font-size: 1.8em;
    color: rgb(0, 217, 255);
}

i.iconosRedes{
    font-size: 1.3em;
    color: #ffffff;
}

ul #iconFoot{
    font-size: 1.3em;
    color: #ffffff;
}

#nosotros.contariner.card-deck.card{
    border: 1px solid red;
}

#nosotros{
    padding-bottom: 20px;
}





/* Media queries */

/* Extra small devices (portrait phones, less than 576px 575.98) */
@media (max-width: 575.98px) { 

    .bg-darkTech{
        background-image: url(../img/recursos.jpg);
        background-attachment: fixed;
        z-index: -2;
        background-size: cover;

    }

   
.list-inline{
    margin-top: 30px;
}

    ul #iconFoot{
        font-size: 1.1em;
        color: #ffffff;
    }

    .filaTech{
        margin: 0 auto;
    }

    .navbar{
        background-color: rgba(52, 4, 65, 0.788);
    
    }

    .contactoTexto::before{
        border-radius: 0px 0px 0px 0px;
    }

    .contactoTexto::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
/*         border-radius: 20px 0px 0px 20px; */
        top: 0;
        left: 0;
        background:  rgba(55, 170, 247, 0.897);
        z-index: 1;
     
       
    }

    .contactoTexto{
        position: relative;
        border-radius: 0px 0px 0px 0px;
    }


    .wrapContacto{
        margin-top: 3%;

    }

    .itemTexto .logoUsuario{
        font-size: 60px;
        display: block;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .itemTexto h2{
        font-size: 1.2rem;
    }

    .itemTexto, p, i{
        margin-bottom: 10px;
    }

    #contactoRespuesta{
        margin-top: 15%;
    }


    .itemTexto .contactomobile{
        margin-bottom: 3%;
    }

    .mensaje-exito h3{
        font-size: 1.2rem;
    }


 .purpura .navbar-brand{
     width: 60%;
 }
 .purpura .navbar-brand img{
     width: 60%;
 }

    .footerBg{
        background-color:  rgb(29, 29, 29);
    }
   
    h1{
        font-size: 1.8em;
        line-height: normal;
        padding-top: 50%;
    }

    h2{
        font-size: 1.8em;
    }

    p{
        font-size: 1em;
        line-height: normal;
    }

    .contenedor-portafolio{
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .fondo{
        height: 100vh;
        background-image: url("/img/webDevDark.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;

    }

 
    .planes{
        margin-top: 10px;
        padding: 50px 40px;
        border-radius: 2px;
        width: 100%!important;
    }

    #nosotros{
        padding-bottom: 20px;
    }

    #portafolio2 .carousel-inner .carousel-item img{
        height: 100%;
    }

    .contenido-centradoFooter{
        max-width: 800px;
        margin: 0 auto;
        margin-top: 3%;
        text-align: center;
        padding-top: 5%;
        height: 60vh;
        color: #ffffff;
    }

 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { ... }




/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
    .list-inline{
    margin-top: 30px;
}
    .purpura .navbar-brand{
        width: 20%;
        margin: 0;
    }
    .purpura .navbar-brand img{
        width: 5%;
    }
    .navbar .navbar-collapse{
        width: 95%;
    }
    .navbar .navbar-collapse .nav-item a{
        font-size: 0.9rem;
    
    }

    .itemTexto, p, i{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1.1rem;
    }

    .mensaje-exito h3{
        font-size: 1.5rem;
    }


    .footerBg{
        background-color: rgb(29, 29, 29);
    }
    h1{
        font-size: 2.6em;
        padding-top: 10%;
        line-height: normal;
    }
    h2{
        font-size: 1.8em;
        margin-right: 8%;
        margin-left: 8%;
    }

    .contenido-centrado{
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        height: 100vh;
        
    }
    
    .fondo{
        height: 50vh;
        background-image: url("/img/webDevDark.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }

    .planes{
        margin-top: 10px;
        padding: 50px 40px;
        border-radius: 2px;
        width: 100%!important;
    }

    .miembro-detalles{
        height: 0.8em;
    }

    .card-deck .card{
        margin: 3px;
    }
    .card-deck .card .card-title{
        font-size: 1em;
    }

    .card-deck .card .card-text{
        line-height: normal;
    }

    #portafolio2 .carousel-inner .carousel-item img{
        height: 100%;
    }

    .contenido-centradoFooter{
        max-width: 800px;
        margin: 0 auto;
        margin-top: 3%;
        text-align: center;
        padding-top: 5%;
        height: 30vh;
        color: #ffffff;
    
    }



 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }